beautifulsoup4~=4.12.2
certifi~=2023.5.7
charset-normalizer==3.2.0
greenlet~=2.0.2
idna~=3.4
pyaes~=1.6.1
pydantic-settings==2.0.1
Pyrogram~=2.0.106
PySocks~=1.7.1
python-dotenv~=1.0.0
requests~=2.31.0
soupsieve~=2.4.1
SQLAlchemy==2.0.18
TgCrypto~=1.2.5
typing_extensions==4.7.1
urllib3==2.0.3
fastapi==0.100.0
pywa>=0.0.1rc17